.alignmentGroup{
    width: 100%;
    height: 100%;
    background-image: url(/src/icons/alignmentForceBackground.svg);
    background-size: cover;

    transform-origin: center center;
    transform: rotate(25deg);

    .sliderArea {
        transform: translate(-2px,49.5px);
    }
}